<h1>Point of Sale</h1>

<hr>

<% if @products.any?() %>
  <ul>
    <% @products.each() do |product| %>
      <li><%= product.product_name() %> | $<%= product.price() %> | <a href="/products/<%= product.id() %>/edit">Update</a></li>
    <% end %>
  </ul>

<% else %>
  <p>There are no products yet!</p>
<% end %>

<hr>

<h3>Add a product:</h3>

<form action="/products" method="post" class="form-entry">
  <label for="product_name"></label>
  <input id="product_name" name="product_name" type="text" placeholder="ex: Fancy Feast">

  <label for="price"></label>
  <input id="price" name="price" type="text" placeholder="2.00">

  <button type="submit">Add product!</button>
</form>

<hr>

<a href="/shopping_cart">Go to Shopping Cart!</a>
