<h1>Shopping Cart</h1>

<hr>

<% if @products.any?() %>
  <form action="/shopping_cart" method="post">
    <% @products.each() do |product| %>
      <input id="product_id" name="product_id" type="hidden" value="<%= product.id() %>">
      <input type="checkbox" name="purchase" value="purchase"><%= product.product_name() %> | $<%= product.price() %> | <%= product.id() %> | <button type="submit">Add product!</button><p></p>
    <% end %>
  </form>

<% else %>
  <p>There are no products yet!</p>
<% end %>

<hr>

<span class="return"><p><a href="/">Click here to go back to previous page</a></p></span>
